doctype html
html
  head
    title 图片上传
    |   
    meta(charset="UTF-8")
    |   
    meta(name="apple-mobile-web-app-capable", content="yes")
    |   
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    |   
    meta(name="format-detection", content="telephone=no")
    |   
    meta(name="description", content="")
    |   
    meta(name="Keywords", content="")
    |   
    meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    |   
    link(rel="stylesheet", href="/lib/swiper.min.css")
    |   
    link(rel="stylesheet", href="/css/re-index.css")
    |   
    link(rel="stylesheet", type="text/css", href="/css/global.css")
    |   
    link(rel="stylesheet", type="text/css", href="/css/iconfont.css")
    |   
    script(src="/lib/flexible.js", type="text/javascript", charset="utf-8")
    |   
    script(src="/lib/jquery.1.8.3.js", type="text/javascript", charset="utf-8")
    |   
    script(src="/lib/megapix-image.js", type="text/javascript", charset="utf-8")
    script(src="/js/image-upload.js", type="text/javascript", charset="utf-8")
  body
    .view
      input#goodsImages(name="goodsImages", type="file", multiple="true")
      |     
      