.recommend-item
  .title-bar
    div.avatar
      img(data-src="http://thumb.qschou.com/files/qschou.com/avatar/862/3c789cf0-7146-4ad0-a052-0619555cec5c/14790892382103fff036.png@!thumb.png")
    span.name 人生得意虚惊欢
    span.tag
      | 推荐
  .content
    h2.header 向死而生，雅安红心猕猴桃的抗争
    .swiper-recommend.swiper-container
      .swiper-wrapper
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")
    .progress
      .wrap
        .color(style='width:25%;')
        |     
        .tip(style='left:25%;') 25%
    .desc
      ul
        li
          | 目标 
          span.target.text-red 2000
          |  元
        li
          | 已筹 
          span.had.text-red 100000
          |  元
        li
          span.times.text-green 2000
          |  次支持
.recommend-item
  .title-bar
    div.avatar
      img(data-src="http://thumb.qschou.com/files/qschou.com/avatar/862/3c789cf0-7146-4ad0-a052-0619555cec5c/14790892382103fff036.png@!thumb.png")
    span.name 人生得意虚惊欢
    span.tag
      | 推荐
  .content
    h2.header 向死而生，雅安红心猕猴桃的抗争
    .swiper-recommend.swiper-container
      .swiper-wrapper
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")    
        .swiper-slide
          div(onclick="location.href='http://www.baidu.com'").item
            img(data-src="http://thumb.qschou.com/files/qschou.com/project/8217f717414-0677-4cde-b508-662069f00d4214814551518982062340003b0d362fb17a8909ec0bb3c984072e4c.jpg@!thumb.png")
    .progress
      .wrap
        .color(style='width:25%;')
        |     
        .tip(style='left:25%;') 25%
    .desc
      ul
        li
          | 目标 
          span.target.text-red 2000
          |  元
        li
          | 已筹 
          span.had.text-red 2000
          |  元
        li
          span.times.text-green 200
          |  次支持