doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |   
    title test
  body
    h1 test
    |   
    p Welcome to test
    |   
    form(action='http://localhost:3000/test' method="POST")
      input(type='text' name="test")
      |     
      input(type='submit', value='提交')
