doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |   
    title test
  body
    h1 test
    |   
    p Welcome to test
    |   
    form(action='http://localhost:3000/test' method="POST")
      input(type='text' name="test")
      |     
      input(type='submit', value='提交')
    div(id="SOHUCS", sid="请将此处替换为配置SourceID的语句")
    script(id="changyan_mobile_js", charset="utf-8", type="text/javascript", src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cysKcoS64&conf=prod_58f075e297ea622ee9dfefee46a3ff0c")