/** 
* my-workflow0.0.0 
* 样式文件
* By bhz
*/
@charset "utf8";
.before-loaded {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}
.before-loaded img {
  width: 0.32rem;
  height: 0.32rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.activity-rules {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fde04e;
  position: fixed;
  width: 3.75rem;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.activity-rules .activity-rules-content {
  border-radius: 0.05rem;
  position: absolute;
  width: 80%;
  height: 60%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: #384d5e;
  padding-bottom: 0.8rem;
}
.activity-rules .activity-rules-content h2 {
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  top: 0;
  text-align: center;
  position: relative;
}
.activity-rules .activity-rules-content h2:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
}
[device-dpr="1"] .activity-rules .activity-rules-content h2:after {
  height: 1px;
}
[device-dpr="2"] .activity-rules .activity-rules-content h2:after {
  height: 1px;
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
}
[device-dpr="3"] .activity-rules .activity-rules-content h2:after {
  height: 1px;
  transform: scaleY(0.333333);
  -webkit-transform-origin: 0 0;
}
.activity-rules .activity-rules-content .ensure-btn {
  position: fixed;
  width: 100%;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  bottom: 0;
  position: relative;
}
.activity-rules .activity-rules-content .ensure-btn:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
}
[device-dpr="1"] .activity-rules .activity-rules-content .ensure-btn:before {
  height: 1px;
}
[device-dpr="2"] .activity-rules .activity-rules-content .ensure-btn:before {
  height: 1px;
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
}
[device-dpr="3"] .activity-rules .activity-rules-content .ensure-btn:before {
  height: 1px;
  transform: scaleY(0.333333);
  -webkit-transform-origin: 0 0;
}
.activity-rules .activity-rules-content .rules-list {
  height: 100%;
  overflow-y: scroll;
  padding: 0.1rem;
}
.activity-rules .activity-rules-content .rules-list p {
  padding: 0.05rem 0;
}
.win-view {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../images/prize-draw/winning1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fde04e;
  position: fixed;
  width: 3.75rem;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.win-view .win-view-content {
  position: absolute;
  left: 0.8rem;
  top: 2.37rem;
  width: 2.05rem;
  height: 1.3rem;
}
.win-view .win-view-content .header {
  text-align: center;
  font-weight: bold;
  line-height: 2;
}
.win-view .win-view-content .body {
  text-align: center;
  width: 2.05rem;
  font-size: 1.2em;
  line-height: 0.7rem;
  height: 0.7rem;
  color: #c52a2a;
}
.win-view .win-view-content .body img {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.05rem auto;
}
.win-view .win-view-content .footer {
  position: absolute;
  width: 2.05rem;
  height: 2em;
  bottom: 0;
}
.win-view .win-view-content .footer .btn {
  position: absolute;
  background-color: #d21d14;
  line-height: 2;
  padding: 0 0.1rem;
  border-radius: 0.2rem;
}
.win-view .win-view-content .footer .left {
  left: 0.1rem;
}
.win-view .win-view-content .footer .right {
  right: 0.1rem;
}
.unlogin {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fde04e;
  position: fixed;
  width: 3.75rem;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.unlogin .tips {
  text-align: center;
  border-radius: 0.05rem;
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  background-color: #546fad;
  line-height: 2;
}
.prizing {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fde04e;
  position: fixed;
  width: 3.75rem;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.prizing .tips {
  text-align: center;
  border-radius: 0.05rem;
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  background-color: #546fad;
  line-height: 2;
}
.lottery-error {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fde04e;
  position: fixed;
  width: 3.75rem;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.lottery-error .tips {
  text-align: center;
  border-radius: 0.05rem;
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  background-color: #546fad;
  line-height: 2;
}
.no-more-chance {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fde04e;
  position: fixed;
  width: 3.75rem;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.no-more-chance .tips {
  text-align: center;
  border-radius: 0.05rem;
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  background-color: #546fad;
  line-height: 2;
}
.not-lottery {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fde04e;
  position: fixed;
  width: 3.75rem;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.not-lottery .tips {
  text-align: center;
  border-radius: 0.05rem;
  position: absolute;
  width: 60%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  background-color: #546fad;
  line-height: 3;
}
.text-gold {
  color: #fde04e;
}
.text-red {
  color: #db3652;
}
.text-gray {
  color: #666;
}
.text-blue {
  color: #0079fe;
}
.text-dark {
  color: #333;
}
.text-white {
  color: #fff;
}
.text-green {
  color: #43ac43;
}
@keyframes size {
  0% {
    font-size: 12px;
  }
  25% {
    font-size: 80px;
  }
  50% {
    font-size: 24px;
  }
  75% {
    font-size: 80px;
  }
  100% {
    font-size: 36px;
  }
}
.bhz-mod-content {
  position: relative;
  width: 3.75rem;
  margin: 0 auto;
  min-height: 100%;
  background: #384d5e;
}
.bhz-mod-content .header-bar {
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.1rem;
  line-height: 0.4rem;
  height: 0.4rem;
}
.bhz-mod-content .header-bar .left {
  -ms-flex: 1;
      flex: 1;
  text-align: left;
}
.bhz-mod-content .header-bar .right {
  -ms-flex: 1;
      flex: 1;
  text-align: right;
}
.bhz-mod-content .bhz-mod-bottom {
  position: absolute;
  left: 0;
  top: 100%;
  width: 3.75rem;
  bottom: 0;
  border-top: 1px solid #ddd;
  overflow: auto;
  z-index: 300;
  background-color: #fff;
  opacity: 0;
}
.bhz-mod-content .bhz-mod-bottom .bhz-mod-bottom-item {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}
.bhz-mod-content .bhz-mod-bottom .bhz-mod-bottom-item .bmb-item-header {
  position: relative;
  line-height: 40px;
  border-bottom: 1px dashed #ccc;
}
.bhz-mod-content .bhz-mod-bottom .bhz-mod-bottom-item .bmb-item-header .bmb-item-header-right {
  position: absolute;
  top: 0;
  right: 0;
}
.bhz-mod-content .bhz-mod-bottom .bhz-mod-bottom-item .bmb-item-body {
  position: relative;
  line-height: 40px;
}
.bhz-mod-content .bhz-mod-bottom .bhz-mod-bottom-item .bmb-item-body .bmb-item-body-right {
  position: absolute;
  top: 0;
  right: 0;
}
.bhz-mod-content .bhz-mod-bottom .bhz-mod-more {
  display: block;
  text-align: center;
  padding: 10px;
}
.bhz-mod-content .bhz-mod-content-banner {
  position: relative;
}
.bhz-mod-content .bhz-mod-content-banner .broadcast {
  position: absolute;
  bottom: 0.4rem;
  left: 15%;
  width: 70%;
  color: #fff;
  height: 0.2rem;
  line-height: 0.2rem;
  background-image: url(../images/prize-draw/broadcast.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.bhz-mod-content .bhz-mod-content-banner .broadcast i {
  display: inline-block;
  width: 10%;
  text-align: right;
}
.bhz-mod-content .bhz-mod-content-banner .broadcast ul {
  position: absolute;
  width: 90%;
  text-align: center;
  left: 10%;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 0.8em;
}
.bhz-mod-content .bhz-mod-content-banner .broadcast ul li {
  line-height: 0.2rem;
}
.bhz-mod-content .bhz-mod-content-banner .btn-group .btn {
  position: absolute;
  bottom: -0.05rem;
  display: inline-block;
  min-width: 0.7rem;
  height: 0.3rem;
  border-radius: 0.04rem;
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 0.3rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  background-color: transparent;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.02rem;
}
.bhz-mod-content .bhz-mod-content-banner .btn-group .btn-img {
  width: 0.8rem;
  height: 0.3rem;
  color: #2b3f51;
  background-image: url(../images/prize-draw/btn.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bhz-mod-content .bhz-mod-content-banner .btn-group #my-prize-btn {
  left: 5%;
}
.bhz-mod-content .bhz-mod-content-banner .btn-group #activity-rule-btn {
  right: 5%;
}
.bhz-mod-content .bhz-mod-prizeDraw-list {
  display: block;
  width: 60%;
  font-size: 0;
  margin: 0.4rem auto;
  position: relative;
}
.bhz-mod-content .bhz-mod-prizeDraw-list li {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  overflow: hidden;
}
.bhz-mod-content .bhz-mod-prizeDraw-list li .bmp-list-btn-start {
  border-radius: 0.05rem;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.075rem auto;
  overflow: hidden;
}
.bhz-mod-content .bhz-mod-prizeDraw-list .bmp-list-item .prize {
  background-color: #32c5f1;
  border-radius: 0.05rem;
  font-size: 14px;
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #ff4351;
  margin: 0.075rem auto;
  overflow: hidden;
}
.bhz-mod-content .bhz-mod-prizeDraw-list .bmp-list-item .prize.highlight {
  background-color: #fde04e;
}
.bhz-mod-content .btn-bar {
  padding: 0.1rem;
  position: relative;
}
.bhz-mod-content .btn-bar .surplus-btn {
  width: 10em;
  text-align: center;
  padding: 0 0.1rem;
  border-radius: 0.15rem;
  box-shadow: 0 0 0.05rem #1dc752;
  margin: 0 auto;
}
.bhz-mod-content > .bhz-mod-prizeDraw-rules {
  width: 80%;
  margin: 10px auto 10px;
  color: #ccc;
  line-height: 2;
  color: #fde04e;
}
.bhz-mod-content > .bhz-mod-prizeDraw-rules > h1 {
  text-align: center;
  color: #ff0;
}
.transparent-shadow {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 100;
}
.layui-m-layerbtn span[no] {
  color: #ff4351;
}
.light {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
.color-0 {
  background-color: #fff;
  box-shadow: 0px 0px 20px #fff ;
}
.color-1 {
  background-color: #6f6;
  box-shadow: 0px 0px 20px #6f6 ;
}
.color-2 {
  background-color: #ff0;
  box-shadow: 0px 0px 20px #ff0 ;
}
