.bg-logo {
      display: block;
      background-image: url(../slices/logo.png);
      width: 200px;
      height: 200px;
    }
.bg-peas {
      display: block;
      background-image: url(../slices/peas.png);
      width: 200px;
      height: 200px;
    }
.bg-red-packet-ico {
      display: block;
      background-image: url(../slices/red-packet-ico.png);
      width: 200px;
      height: 200px;
    }
