nav#navList.header_nav
  .nav-main
    a(href='recommend.aspx')
      | 精选项目
    a(href='duobao.aspx') 
      | 微爱夺宝
    a(href='sale.aspx') 
      | 微爱优品 
    a.on(href='dream.aspx') 
      | 梦想清单
    a(href='energy.aspx') 
      | 微爱能量
    a(href='recommend.aspx')
      | 精选项目
    a(href='duobao.aspx') 
      | 微爱夺宝
    a(href='sale.aspx') 
      | 微爱优品 
    a.on(href='dream.aspx') 
      | 梦想清单
    a(href='energy.aspx') 
      | 微爱能量
    a(href='energy.aspx') 

  .nav-right
    span.iconfont.icon-xiangxia